<a href="https://colab.research.google.com/github/Satyamaadi/Algorithms/blob/main/Data_Analytics_1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import numpy as np

In [38]:
s = pd.Series([1,2,3,4])

In [39]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [40]:
s = pd.Series([1,2,3,4],index = ['a','b','c','d'])

In [41]:
s

a    1
b    2
c    3
d    4
dtype: int64

In [42]:
print(s[1],s['a'])

2 1

In [43]:
print(s[0:2])

a    1
b    2
dtype: int64

In [45]:
serd = pd.Series(np.arange(4))

In [46]:
serd

0    0
1    1
2    2
3    3
dtype: int64

In [47]:
serd.drop(0)

1    1
2    2
3    3
dtype: int64

In [48]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)), 
                    index=['red', 'blue', 'yellow', 'white'],
                    columns=['ball', 'pen', 'pencil', 'paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [52]:
frame.drop('paper',axis=1)

        ball  pen  pencil
red        0    1       2
blue       4    5       6
yellow     8    9      10
white     12   13      14

In [53]:
df2 + frame

       Name  age  ball  paper  pen  pencil
a       NaN  NaN   NaN    NaN  NaN     NaN
b       NaN  NaN   NaN    NaN  NaN     NaN
blue    NaN  NaN   NaN    NaN  NaN     NaN
red     NaN  NaN   NaN    NaN  NaN     NaN
white   NaN  NaN   NaN    NaN  NaN     NaN
yellow  NaN  NaN   NaN    NaN  NaN     NaN

In [54]:
np.sqrt(frame)

            ball       pen    pencil     paper
red     0.000000  1.000000  1.414214  1.732051
blue    2.000000  2.236068  2.449490  2.645751
yellow  2.828427  3.000000  3.162278  3.316625
white   3.464102  3.605551  3.741657  3.872983

In [55]:
f = lambda x : x.max() - x.min()

In [56]:
frame.apply(f)

ball      12
pen       12
pencil    12
paper     12
dtype: int64

In [57]:
frame.mean()

ball      6.0
pen       7.0
pencil    8.0
paper     9.0
dtype: float64

In [58]:
frame.sum()

ball      24
pen       28
pencil    32
paper     36
dtype: int64

In [60]:
frame.describe()

            ball        pen     pencil      paper
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

In [62]:
frame.sort_index(axis=1)

        ball  paper  pen  pencil
red        0      3    1       2
blue       4      7    5       6
yellow     8     11    9      10
white     12     15   13      14

In [63]:
frame.sort_values(by='pen')

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [64]:
ser = pd.Series([0,1,2,np.NaN,9], index=['red','blue','yellow','white','green'])
ser

red       0.0
blue      1.0
yellow    2.0
white     NaN
green     9.0
dtype: float64

In [65]:
ser.dropna()

red       0.0
blue      1.0
yellow    2.0
green     9.0
dtype: float64

In [67]:
ser.fillna(0)

red       0.0
blue      1.0
yellow    2.0
white     0.0
green     9.0
dtype: float64